@page "/"

<h1>Web Assembly!</h1>

<Dmuka3Table Model="this.Model">
    <tr data-body data-id="{{id}}">
        <td class="test">{{id}}</td>
        <td>{{name}}</td>
        <td>{{surname}}</td>
        <td>
            <button dom-events="{
                    'click' : function (id, row, e) {
                        alert('{{id}} - {{name}}');
                    }
                }">
                Show
            </button>
        </td>
    </tr>
    <tr data-foot>
        <td>
            <input @oninput="(async e =>
                             {
                                 SearchId = (string)e.Value;
                                 this.Model.PageIndex = 0;
                                 await this.Model.RefreshAsync();
                             })" />
        </td>
        <td>
            <input @oninput="(async e =>
                             {
                                 SearchName = (string)e.Value;
                                 this.Model.PageIndex = 0;
                                 await this.Model.RefreshAsync();
                             })" />
        </td>
        <td>
            <input @oninput="(async e =>
                             {
                                 SearchSurname = (string)e.Value;
                                 this.Model.PageIndex = 0;
                                 await this.Model.RefreshAsync();
                             })" />
        </td>
        <td></td>
    </tr>
</Dmuka3Table>

<div>@test 111</div>

<Dmuka3Mask Pattern="99.99.9999 99:99:99" DefaultValue="11.08.2019 00:00:00" RequiredFilling="true" OnChange="(m => { this.test = m.Value; this.StateHasChanged(); })"></Dmuka3Mask>

@code {
    string test = "";
}