@page "/"

<h1>Server App!</h1>

<Dmuka3Table Model="this.Model">
    <tr data-body data-id="{{id}}">
        <td class="test">{{id}}</td>
        <td>{{name}}</td>
        <td>{{surname}}</td>
        <td>
            <button dom-events="{
                    'click' : 'test'
                }">
                Show
            </button>
        </td>
    </tr>
    <tr data-foot>
        <td>
            <input @oninput="(async e =>
                             {
                                 SearchId = (string)e.Value;
                                 this.Model.PageIndex = 0;
                                 await this.Model.RefreshAsync();
                             })" />
        </td>
        <td>
            <input @oninput="(async e =>
                             {
                                 SearchName = (string)e.Value;
                                 this.Model.PageIndex = 0;
                                 await this.Model.RefreshAsync();
                             })" />
        </td>
        <td>
            <input @oninput="(async e =>
                             {
                                 SearchSurname = (string)e.Value;
                                 this.Model.PageIndex = 0;
                                 await this.Model.RefreshAsync();
                             })" />
        </td>
        <td></td>
    </tr>
</Dmuka3Table>