@page "/"

<h1>Server App!</h1>

<Dmuka3Table Model="this.TableModel">
    <tr data-body data-id="{{id}}">
        <td class="test">{{id}}</td>
        <td>{{name}}</td>
        <td>{{surname}}</td>
        <td>
            <button dom-events="{
                    'click' : 'test'
                }">
                Show
            </button>
        </td>
    </tr>
    <tr data-foot>
        <td>
            <input @oninput="(async e =>
                             {
                                 SearchId = (string)e.Value;
                                 this.TableModel.PageIndex = 0;
                                 await this.TableModel.RefreshAsync();
                             })" />
        </td>
        <td>
            <input @oninput="(async e =>
                             {
                                 SearchName = (string)e.Value;
                                 this.TableModel.PageIndex = 0;
                                 await this.TableModel.RefreshAsync();
                             })" />
        </td>
        <td>
            <input @oninput="(async e =>
                             {
                                 SearchSurname = (string)e.Value;
                                 this.TableModel.PageIndex = 0;
                                 await this.TableModel.RefreshAsync();
                             })" />
        </td>
        <td></td>
    </tr>
</Dmuka3Table>


<div>@test 111</div>

<Dmuka3Mask Model="this.MaskModel"></Dmuka3Mask>

<Dmuka3Number Model="this.NumberModel"></Dmuka3Number>

@code {
    string test = "";
}